In [67]:
from pathlib import Path
import pandas as pd
import numpy as np
from numpy import linalg as la

In [56]:
data_folder = Path("dataset/experiment-i/S1/")

file_name = data_folder / "1.txt"
df = pd.read_csv(file_name, sep="\t", header=None)
#la stessa posizione viene misurata 82 volte DC
#la prima non conta un cazzo(Ã¨ vuota), anche l'ultima colonna Ã¨ vuota dc
#dobbiamo fare la PCA tra le 82 misurazioni diverse boia
#e poi cercare di tenere quella piÃ¹ carina dc
df.drop(columns=[2048], inplace = True) #tolgo colonna
df.drop(0, inplace = True) #tolgo riga
df

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
1,0,0,0,256,0,512,0,512,0,768,...,0,0,0,512,256,256,768,1792,2304,1024
2,0,0,0,0,1,0,6,4,6,2,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,5,4,5,2,...,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,1,0,6,4,5,1,...,1,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,5,4,4,1,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,0,0,0,0,0,0,3,0,3,0,...,3,0,0,0,0,0,0,0,0,0
78,0,0,0,0,0,0,3,0,2,0,...,1,0,0,0,0,0,0,0,0,0
79,0,0,0,0,0,0,1,0,2,0,...,2,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,1,0,3,0,...,2,0,0,0,0,0,0,0,0,0
81,0,0,0,0,0,0,3,0,3,0,...,3,0,0,0,0,0,0,0,0,0

In [106]:
array = df.to_numpy()
array = array - array.mean()
array


CX = np.cov(array)
w,v = la.eig(CX) 

P = v
P.shape

array_final = P.T.dot(array)
array_final

array([[-1.01972435e+02, -1.01655572e+02, -1.01826919e+02, ...,
         1.67849421e+03,  2.18724245e+03,  9.15431750e+02],
       [-4.45949966e+02, -4.43136041e+02, -4.44656225e+02, ...,
        -6.48888281e+02, -7.06494474e+02, -5.61961687e+02],
       [ 1.33749745e+01,  1.01834035e+01,  1.17327919e+01, ...,
         9.96643974e+00,  9.38249022e+00,  1.14654031e+01],
       ...,
       [ 2.90663090e-01,  4.24150932e-01,  6.20833732e-02, ...,
         3.27718119e-02,  9.13410767e-02,  5.24068847e-02],
       [ 1.57848827e-01,  2.70805241e-01,  2.49036798e-01, ...,
         6.82704290e-02,  1.63916105e-01,  4.15287378e-02],
       [ 7.68409690e-02, -1.84554719e-01, -1.79581640e-01, ...,
         6.71718177e-03, -1.62301163e-01,  3.54561066e-03]])